<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-5 border-top">
  <div class="col-md-5 d-flex align-items-center">
    <span id="copyright" class="mb-3 mb-md-0 text-muted">&copy; STORE FullStack Project - Made with ❤️ by Borealcoding</span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="nav-item"><a href="https://github.com/borealcoding" class="nav-link px-2 text-muted"><i class="pi pi-github" style="font-size: 1.8rem"></i></a></li>
    <li class="nav-item"><a href="https://www.linkedin.com/in/eruach/" class="nav-link px-2 text-muted"><i class="pi pi-linkedin" style="font-size: 1.8rem"></i></a></li>
    <li class="nav-item"><a href="https://twitter.com/borealcode" class="nav-link px-2 text-muted"><i class="pi pi-twitter" style="font-size: 1.8rem"></i></a></li>
  </ul>
</footer>
